.page.theme_light {
  --backround-image: url(../images/cover-image-light.png);
  --color: rgb(53, 52, 48);
  --background-color: rgb(255, 194, 230);
  --accent-color: rgb(255, 0, 112);
  --accent-header-color: rgb(255, 141, 203);
  --text-color: rgb(53, 52, 48);
  --accent-text: rgb(53, 52, 48);
  --color-cover: rgb(255, 241, 247);
  --outline-color: rgba(50, 49, 45, 0.4);
  --display_icon: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --backround-image: url(../images/cover-image-light.png); 
    --color: rgb(53, 52, 48);
    --background-color: rgb(255, 194, 230);
    --accent-color: rgb(255, 0, 112);
    --accent-header-color: rgb(255, 141, 203);
    --text-color: rgb(53, 52, 48);
    --accent-text: rgb(53, 52, 48);
    --color-cover: rgb(255, 241, 247);
    --outline-color: rgba(50, 49, 45, 0.4);
    --display_icon: none;
    }
} 